<div class="row-fluid">
  <div class="span6">
    Problem
  </div>
  <div class="span2">
    Your Score
  </div>
  <div class="span4">
    Actions
  </div>
</div>

<% @exercises.each do |exercise| %>
  <div class="row-fluid">
    <div class="span6">
      <%= exercise.title %>
    </div>
    <div class="span2">
      <%= (current_user.scores & exercise.scores).count %>
    </div>
    <div class="span4">
      <%= link_to 'Show', exercise %>
      <%= link_to 'Edit', edit_exercise_path(exercise) %>
      <%= link_to 'Destroy', exercise, method: :delete, 
        data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>

  <%= link_to 'New Exercise', new_exercise_path %>
