<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exercise.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @exercise.description %>
</p>

<p>
  <b>number:</b>
  <%= @exercise.problem_number %>
</p>

<p>
  <b>page:</b>
  <%= @exercise.page %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
