<img style="float: left; margin-right: 16pt; margin-left: 16pt; margin-bottom: 16pt;" src="/photos/<%= @person[:photo] %>-150.jpg"/>
<h2><%= @person[:name] %></h2>
<% unless @person[:email].nil? %>
  <span class="email"><a href="mailto:<%= @person[:email] %>"><%= @person[:email] %></a></span>
<% end %>
<% unless @person[:link].nil? %>
  <span class="url"><a href="<%= @person[:link] %>" rel="external"><%= @person[:link] %></a></span>
<% end %>
<p><%= @person[:description] %></p>
