<h3>Exercises</h3>

<div class="accordion" id="accordion">
<% for week in @exercises_by_weeks.keys.sort %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= week %>">
        <h4>Week <%= week %></h4>
      </a>
    </div>
    <div id="collapse<%= week %>" class="accordion-body collapse">
      <div class="accordion-inner">

<table class="table table-striped">
  <thead>
   <tr>
    <th>
      Problem
    </th> 
    <% if user_signed_in? %>
      <th>
        Progress
      </th>
    <% end %>
   </tr>
  </thead>

  <tbody>
    <% @exercises_by_weeks[week].each do |exercise| %>
      <%= render partial: "progress_exercise", locals: { exercise: exercise } %>
    <% end %>
  </tbody>
</table>

        
      </div>
    </div>
  </div>
<% end %>
</div>

<h3>Your Badges</h3>

<ul>
<% for badge in current_user.badges %>
<li><span class="badge badge-success"><%= badge.name %></span> <%= badge.description %></li>
<% end %>
</ul>

<h3>Achievements</h3>

<ul>
<li>You have spent
<% if current_user.total_thinking_time > 5*60 %>
  <% if current_user.total_thinking_time > 3*60*60 %>
    <%= current_user.total_thinking_time / (60*60) %> hours
  <% else %>
    <%= current_user.total_thinking_time / 60 %> minutes
  <% end %>
<% else %>
 <%= current_user.total_thinking_time %> seconds
<% end %>
 working problems.</li>
<li>You have submitted <%= current_user.total_correct_answers %> correct answers.</li>
</ul>
