<div style="float: right;">
<a href="https://en.gravatar.com/"><%= gravatar_image_tag( @user.email, :alt => @user.name, :gravatar => { :secure => true } ) %></a>
</div>

<h3>Your Profile <small><%= link_to "Edit", :controller => "profile", :action => "edit" %></small></h3>

<dl>
  <dt>Name</dt>
  <dd><%= @user.name %></dd>
</dl>

<dl>
  <dt>Email</dt>
  <dd><%= @user.email? ? @user.email : "None Given" %></dd>
</dl>

<dl>
  <dt>Location</dt>
  <dd><%= @user.location? ? @user.location : "None Given" %></dd>
</dl>

<dl>
  <dt>Gender</dt>
  <dd><%= @user.gender? ? @user.gender : "None Given" %></dd>
</dl>

<dl>
  <dt>Birthday</dt>
  <dd><%= @user.birthday? ? @user.birthday.strftime("%b %e, %Y") : "None Given" %></dd>
</dl>

<!-- 

<dl>
<dt>Informed Consent </dt>
<dd>
<% if @user.consent? %>
  You have been participating in the <%= link_to "research study", :controller => "profile", :action => "consent" %> as of <%= @user.consented_at.strftime('%B %e, %Y') %>.
<% else %>
  We are conducting a study on the effectiveness of online technology for calculus instruction; if you are interested in participating, please <%= link_to "click here", :controller => "profile", :action => "consent" %>.
<% end %>
</dd>
</dt>

-->

