<!DOCTYPE html>
<html>
<head>
  <title>Assessor</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,800,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#"><%=raw html_logo %></a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="<%= 'active' if params[:controller] == 'lectures' %>"><%= link_to "lectures", :controller => "videos", :action => "index" %></li>
            <li class="<%= 'active' if params[:controller] == 'textbook' %>"><%= link_to "textbook", :controller => "handouts", :action => "index" %></li>
            <li class="<%= 'active' if params[:controller] == 'exercises' %>"><%= link_to "problems", :controller => "exercises", :action => "index" %></li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "log out", destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
            <% else %>
              <li class=""><%= link_to "login", user_omniauth_authorize_path(:coursera) %></a>

            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield %>

    <hr>

    <footer>
    <div class="container">
      <p>&copy; <%= Date.today.strftime( '%Y' ) %>, <a href="/people"><%=raw html_logo %> team</a>.
    </div>
    </footer>
  </div> <!-- /container -->

  </body>
</html>
