<!DOCTYPE html>
<html>
<head>
  <title>mooculus</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= csrf_meta_tags %>
<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=onload"></script>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,800,700' rel='stylesheet' type='text/css'>
</head>
<body class="<%= @splash ? 'splash' : ''%>">
<%= bootstrap_flash %>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"><%=raw html_logo %></a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="https://class.coursera.org/calc1-001/lecture/index"><i class="icon-film"></i> Lectures</a></li>
            <li class="<%= 'active' if params[:controller] == 'handouts' %>"><%= link_to raw("<i class='icon-book'></i> Textbook"), handouts_path %></li>
            <li class="<%= 'active' if params[:controller] == 'exercises' && params[:action] != "progress" %>"><%= link_to raw("<i class='icon-pencil'></i> Exercises"), exercises_path %></li>
            <% if user_signed_in? %>
              <li class="<%= 'active' if params[:controller] == 'explorations' && params[:action] != "progress" %>"><%= link_to raw("<i class='icon-truck'></i> Explorations"), :controller => "explorations", :action => "index" %></li>
              <li><a href="https://class.coursera.org/calc1-001/forum/index"><i class="icon-comments"></i> Forum</a></li>
            <% end %>
	  </ul>
	  <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li class="dropdown-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-user"></i> <%= current_user.name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to raw("<i class='icon-tasks'></i> View progress"), :controller => "exercises", :action => "progress" %></li>
                  <li><%= link_to raw("<i class='icon-user'></i> Profile"), :controller => "profile", :action => "display" %></li>
                  <li><%= link_to raw("<i class='icon-signout'></i> Log out"), destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
            <% else %>
              <li class=""><%= link_to raw("<i class='icon-signin'></i> Login"), user_omniauth_authorize_path(:coursera) %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield %>

    <hr>

    <footer>
      <p>&copy; <%= Date.today.strftime( '%Y' ) %>, <a href="/developers"><%=raw html_logo %> team</a>.  <a href="/contact">Contact us</a>.
    </footer>
  </div> <!-- /container -->

  <% if Rails.env.production? %>
    <%= piwik_tracking_tag %>
  <% end %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-558855-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
